/* #recipe-header #open-calculator-button {
  padding: 0;
  border: 1px solid var(--eerie-black);
  color: var(--eerie-black);
  background-color: var(--white);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
} */

/* #recipe-header #open-calculator-button:hover {
  background-color: var(--eerie-black);
  color: var(--antiflash-white);
} */
