button.default {
  font-size: 1rem;
  color: var(--antiflash-white);
  background-color: var(--eerie-black);
  padding: .7rem .75rem;
  border-style: none;
  border-radius: 6px;
  transition: background-color .1s linear;
}

button.default:hover {
  background-color: var(--outer-space);
}

button.wide {
  padding: .8rem 0;
  width: 14rem;
}
